<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.freelectron.leobel.easytrip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EasyTripApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgNYQS3pNgtN-LT7A5_RtUqqRjAB40myw"/>
        <activity
            android:name=".SearchPlaceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PinDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pdk4878705636740704524" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlightFormActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar.Transparent"></activity>
        <activity
            android:name=".CabinPassengerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>